body {
	background-image: url(https://st3.depositphotos.com/4072575/15577/i/110/depositphotos_155774886-stock-photo-poker-table-felt-background-seamless.jpg);
	/*background: #0c6b0d;*/
	margin: 0;
	font-family: arial;
}

.enter-name {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: 30;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

.enter-name input[type=text] {
	color: white;
	position: absolute;
	top: 35%; 
	left: 50%;
	margin-left: -140px;
	width: 250px;
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	outline: none;
}

.enter-name h2 {
	position: absolute;  
	color: white;
	font-size: 44px;             
	top: 30%; 
	left: 50%;
	margin-left: -192px;   
	margin-top: -30px;
	letter-spacing: 1px;
}

.enter-name span {
	color: #f6d600;
}

.botstep {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	z-index: 30;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	font-size: 24px;
	display: none;
}

.botstep h2 {
	position: absolute;               
	top: 50%; 
	left: 50%;
	margin-left: -125px;   
	margin-top: -30px;                     
}

.item {
	transition: .2s;
	border-radius: 5px;
}

.buttons {
	position: absolute;
	top: 400px;
}

.table h2 {
	color: white;
	position: absolute;
	top: -60px;
	left: 50%;
	margin-left: -40px;
}

.tab {
	width: 175px;
	position: absolute;
}

.col-two {
	right: 0;
}

.table h4 {
	text-align: center;
	color: white;
}

.table h3 {
	text-align: center;
	color: white;
}

.table {
	border-radius: 15px;
	position: absolute;
	right: 5%;
	top: 40%;
	width: 350px;
	height: 445px;
	background-color: rgba(0, 0, 0, .6);
}
h5 {
	opacity: 0;
}
none {
	opacity: 0;
}

he {
	font-size: 36px;
	position: absolute;
	top: 0;
	left: 5px;
}

mast {
	display: block;
	margin-top: 30px;
	font-size: 42px;
	margin-left: 5px;
}

.rait {
	position: absolute;
	bottom: 2%;
	width: 350px;
	height: 70px;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 10px;
	right: 5%;
}

.rait h3 {
	text-transform: uppercase;
	color: white;
	left: 50%;
	margin-left: -70px;
	top: -65%;
	position: absolute;
}

@keyframes winstar {

  0% {
    color: yellow;
    
  }
  25% {
  	color: yellow;
	
  }
  30% {
  	color: yellow;
	
  }
  50% {
    color: rgba(255, 255, 255, .6);
    
  }
  75% {
  	color: yellow;
	
  }
  100% {
  	color: yellow;
  	
  }
}

.winstar {
	animation-name: winstar;
	transform-origin: center bottom;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.star {
	display: inline;
	font-size: 36px;
	margin-left: 14px;
}


.fa-star-o {
	color: white;
	opacity: .2;
}

@keyframes item-score {
  from, { 
    background-color: rgba(255, 255, 255, .3);
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 2.2;
    border-radius: 50%;
  }
  0% {
    background-color: rgba(255, 255, 255, .3);
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 2.2;
    border-radius: 50%;
  }

  50% {
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 2.2;
    border-radius: 50%;
  }

  to { 
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 2.2;
    border-radius: 50%;

  }
}

.item-score {
	animation-name: item-score;
	transform-origin: center bottom;
	animation-duration: 3s;
}

.change_name {
	position: absolute;
	right: 1%;
	top: 1%;
	font-weight: 600;
	color: white;
	padding: 5px 5px;
	border-radius: 3px;
	background-color: transparent;
	border: 1px solid white;
	outline: none;
	cursor: pointer;
}

.change_name:hover {
	background-color: rgba(255, 255, 255, .2);
}

button.game {
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	padding: 18px 10px;
	margin-left: 310px;
	width: 250px;
	border: 2px solid white;
	background-color: transparent;
	font-weight: 600;
	font-size: 16px;
	color: white;
	transition: .1s;
	outline: none;
}

button.game:hover {
	background-color: rgba(255, 255, 255, .1);
}

h1 {
	position: absolute;
	color: white;
	margin-top: 550px;
	margin-left: 570px;

}

.one {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 10px;
	width: 600px;
	height: 300px;
	left: 37%;
	margin-left: -300px;
	z-index: 5;
	bottom: 5%;
	margin-top: -250px;
}

.one h2 {
	margin-top: 70px;
	font-size: 32px;
	font-weight: 100;
	color: white;
	text-align: center;
}

.tuz {
	cursor: pointer;
	margin-top: 30px;
	margin-left: 100px;
	display: inline-block;
	height: 70px;
	width: 150px;
	background-color: rgba(255, 255, 255, .1);
	color: white;
	text-align: center;
	font-size: 60px;
}

.perm {
	display: none!important;
}